<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Careers Wales</title>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>

<header th:replace="fragments/headerTemplate :: header">
</header>

<!--MAIN CONTENT-->
<div class="gel-content-container">
    <h1>Contact Us</h1>
    <form>
        <label for="name">Name*:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email*:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="subject">Subject*:</label><br>
        <input type="text" id="subject" name="subject"><br><br>
        <label for="message">Message*:</label><br>
        <textarea id="message" name="message" rows="10" cols="30"></textarea><br><br>
        <input class="button" type="submit" value="Submit">
        <p>or this one</p>
        <input class="button--secondary" type="submit" value="Submit">
    </form>
</div>
<!--END OF MAIN CONTENT-->
<footer th:replace="fragments/footerTemplate :: footer"></footer>

<script type="text/javascript" src="https://careerswales.gov.wales/styleguide//assets/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide//assets/js/gel-elements.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide//assets/js/gel-elements-loader.js"></script>
</body>
</html>