<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css"
          href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css"
          href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css"
          href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all"
          href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all"
          href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<header>

    <div class="branded-masthead js-branded-masthead">
        <div class="branded-masthead__content">
            <div class="content__logos">
                <a href="#" class="ignore-link" title="Careers Wales home">
                    <img class="content--logo logo--mob-en" src="https://careerswales.gov.wales/styleguide/assets/img/logos/cw-logo-mob-en.svg" role="presentation" alt="">
                    <img class="content--logo logo--mob-cy" src="https://careerswales.gov.wales/styleguide/assets/img/logos/cw-logo-mob-cy.svg" role="presentation" alt="">
                    <img class="content--logo" src="https://careerswales.gov.wales/styleguide/assets/img/logos/cw-logo.svg" role="presentation" alt="">
                    <span class="visually-hidden">Careers Wales home</span>
                </a>
            </div>
        </div>
    </div>

</header>

<p>
<!--TODO: link this template with controller.
    TODO: create JS popup message that email has been sent.
    TODO: configure it in such a way that this template will be a confirmation email for sender. CWS can receive generic email.-->
</p>


<footer>
    <div class="footer__content">
        <div class="content__social">
            <div class="social__content">
                <div class="content__column column--50">
                    <p>For further support or careers advice call <a href="tel:0800 028 4844">0800 028 4844</a></p>
                    <a href="#" class="social social--contact-email"  title="Link to post@careerswales.com">post@careerswales.com</a>
                    <a href="#" class="social social--contact-webchat"  title="Link to Webchat">Webchat</a>
                </div>
                <div class="content__column column--50">
                    <p>Join us on social media</p>
                    <a href="http://www.twitter.com/careerswales" class="social social--twitter" gel-processed="processed" title="Link to Twitter">Twitter<span class="external">(external website)</span></a>
                    <a href="https://www.facebook.com/careerswales" class="social social--facebook-simple" >Facebook</a>
                    <a href="https://www.linkedin.com/company/careers-wales" class="social social--linkedin-simple">LinkedIn</a>
                    <a href="https://www.youtube.com/c/careerswales" class="social social--youtube" >YouTube</a>
                    <a href="https://www.instagram.com/careers_wales/?hl=en" class="social social--instagram">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
<script th:src="@{../js/events.js}" src="../js/events.js"></script>

<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>
</body>
</html>
