<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Employer Profile</title>
</head>

<header th:replace="fragments/headerTemplate :: header"></header>


<!-- Modal Update -->
<div class="modal fade bd-example-modal-lg" id="updateModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog gel-content-container" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <form>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container my-3 p-0">
                                <h4 class="modal-title float-left">Update Employer Information</h4>
                                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="company-name">Company name</label>
                                    <input type="text" class="form-control input-border" id="company-name">
                                </div>
                                <div class="form-group">
                                    <label for="company-summary">Company summary</label>
                                    <input type="text" class="form-control input-border mt-2" id="company-summary">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="no-employees" class="mt-0">No of Employees</label>
                                    <input type="text" class="form-control input-border" id="no-employees">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input type="text" id="street" class="form-control border-right input-sm"
                                               placeholder="Street">
                                        <input type="text" id="buildingNo" class="form-control"
                                               placeholder="Building No">
                                    </div>
                                    <div class="input-group-prepend mt-1">
                                        <input type="text" id="PostCode" class="form-control border-right"
                                               placeholder="Post Code">
                                        <input type="text" id="city" class="form-control" placeholder="City">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container my-3 p-0">
                                <h4>Contact Info</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact-name">Contact Name</label>
                                    <input type="text" class="form-control input-border" id="contact-name">
                                </div>
                                <div class="form-group">
                                    <label for="tel-num">Telephone number</label>
                                    <input type="text" class="form-control input-border" id="tel-num">
                                </div>
                                <div class="form-group">
                                    <label for="mob-num">Mobile number</label>
                                    <input type="text" class="form-control input-border" id="mob-num">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="twitter">Twitter</label>
                                    <input type="text" class="form-control input-border" id="twitter">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control input-border" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="text" class="form-control input-border" id="website">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container my-3 p-0">
                                <h4>Other</h4>
                            </div>
                            <div class="col-md-4">
                                <span class="h6">Sector Areas</span>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="it">
                                    <label class="form-check-label" for="it">IT</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="social-care">
                                    <label class="form-check-label" for="social-care">Social Care</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ngo">
                                    <label class="form-check-label" for="ngo">NGO</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="tourism">
                                    <label class="form-check-label" for="tourism">Tourism</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="media">
                                    <label class="form-check-label" for="media">Media</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="h6">Cooperation Type</span>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="work-ex">
                                    <label class="form-check-label" for="work-ex">Work Experience</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="site-visits">
                                    <label class="form-check-label" for="site-visits">Site visits</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="workshops">
                                    <label class="form-check-label" for="workshops">Workshops</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="career">
                                    <label class="form-check-label" for="career">Career Fairs</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="webinars">
                                    <label class="form-check-label" for="webinars">Webinars</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="h6">Curriculum Areas</span>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="science">
                                    <label class="form-check-label" for="science">Science And Technology</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="health">
                                    <label class="form-check-label" for="health">Health And Wellbeing</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="humanities">
                                    <label class="form-check-label" for="humanities">Humanities</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="language">
                                    <label class="form-check-label" for="language">Language Literacy And
                                        Communication</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="maths">
                                    <label class="form-check-label" for="maths">Mathematics And Numeracy</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="expressive">
                                    <label class="form-check-label" for="expressive">Expressive Arts</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 my-4">
                                <div class="form-group">
                                    <label for="schools" class="mt-3">School Preferences</label>
                                    <select class="custom-select p-2 mb-3" id="schools">
                                        <option selected>Select</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                        <option value="school">Schoool</option>
                                    </select>
                                </div>
                                <span class="h6 mt-3">Preferences</span>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="primary-school">
                                    <label class="form-check-label" for="primary-school">Wants to work with primary
                                        schools</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="apprenticeship">
                                    <label class="form-check-label" for="apprenticeship">Has apprenticeship
                                        program</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="welsh">
                                    <label class="form-check-label" for="welsh">Works in Welsh</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="foreign">
                                    <label class="form-check-label" for="foreign">Works in Foreign Language</label>
                                </div>
                                <div class="form-group col-md">
                                    <label for="lang">If yes, what languages?</label>
                                    <input type="text" class="form-control input-border" id="lang">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md my-3">
                                <span class="h6">Local Authorities</span>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="caerphilly">
                                            <label class="form-check-label" for="caerphilly">Caerphilly</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="cere">
                                            <label class="form-check-label" for="cere">Ceredigion</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Flintshire">
                                            <label class="form-check-label" for="Flintshire">Flintshire</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Merthyr">
                                            <label class="form-check-label" for="cere">Merthyr Tydfil</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="newport">
                                            <label class="form-check-label" for="cere">Newport</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="rhonnda">
                                            <label class="form-check-label" for="rhonnda">Rhondda Cynon Taf</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Isle">
                                            <label class="form-check-label" for="Isle">Isle of Anglesey</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Neath">
                                            <label class="form-check-label" for="Neath">Neath Port Talbot</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Powys">
                                            <label class="form-check-label" for="Powys">Powys</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Torfaen">
                                            <label class="form-check-label" for="Torfaen">Torfaen</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Blaenau">
                                            <label class="form-check-label" for="Blaenau">Blaenau</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="cardiff">
                                            <label class="form-check-label" for="cardiff">Cardiff</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="swansea">
                                            <label class="form-check-label" for="swansea">Swansea</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="wrexham">
                                            <label class="form-check-label" for="wrexham">Wrexham</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="vale">
                                            <label class="form-check-label" for="vale">Vale of Glamorgan</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="bridgend">
                                            <label class="form-check-label" for="bridgend">Bridgend</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="carmathenshire">
                                            <label class="form-check-label" for="carmathenshire">Carmathenshire</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Monmountshire">
                                            <label class="form-check-label" for="Monmountshire">Monmountshire</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="gwynedd">
                                            <label class="form-check-label" for="gwynedd">Gwynedd</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="conwy">
                                            <label class="form-check-label" for="conwy">Conwy</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="Denbigshire">
                                            <label class="form-check-label" for="Denbigshire">Denbigshire</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="pembrokeshire">
                                            <label class="form-check-label" for="pembrokeshire">pembrokeshire</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container my-4 text-center">
                        <button type="button" class="button--secondary text-center">Update Employer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog gel-content-container" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Employer</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete this employer?
                </p>
                <button type="button" class="btn buttonUpdate">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="gel-content-container">
    <div class="container-headline my-5">
        <span class="title-h2">Employer Name</span>
        <button type="button" id="updateEvent" data-toggle="modal" data-target="#updateModal"
                class="buttonUpdate float-right">Update
        </button>
        <button type="button" id="deleteEvent" data-toggle="modal" data-target="#deleteModal"
                class="buttonDelete float-right">Delete
        </button>
    </div>

    <div class="container-fluid eventBackground">
        <div class="row">
            <div class="col-md-4">
                <img alt="Card image" src="https://source.unsplash.com/400x400">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Company Summary</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus
                            pronin sapien nunc accuan eget.
                            Lorem ipsum dolor sit amet, consectetur adipiscing.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Notes</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                            sic tempor. Sociis natoque penatibus et magnis dis parturient montes.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">

            <div class="col-md-4 well ">
                <div class="my-2">
                    <span class="text-h5 font-weight-bold">Post Code:</span>
                    <span class="text-h5">CF24 5RF</span>
                </div>

                <div class="my-2">
                    <span class="text-h5 font-weight-bold">Website:</span>
                    <span class="text-h5">Science and Technology</span>
                </div>

                <div class="my-2">
                    <span class="text-h5 font-weight-bold">No of employees:</span>
                    <span class="text-h5">100</span>
                </div>

                <div class="my-2">
                    <span class="text-h5 font-weight-bold">Works with primary schools:</span>
                    <span class="text-h5">Yes</span>
                </div>

                <div class="my-2">
                    <span class="text-h5 font-weight-bold">Works in foreign languages:</span>
                    <span class="text-h5">French</span>
                </div>

                <div class="my-2">
                    <span class="text-h5 font-weight-bold">Works in Welsh:</span>
                    <span class="text-h5">Yes</span>
                </div>

                <div class="my-2">
                    <span class="text-h5 font-weight-bold">Has Apprenticeship programme:</span>
                    <span class="text-h5">Yes</span>
                </div>
            </div>

            <div class="col-md-4 well">
                <h6 class="font-weight-bold">Coperation Types</h6>
                <ul>
                    <li class="my-2">Webinars / digital presentations</li>
                    <li class="my-2">Industry days / careers fairs</li>
                    <li class="my-2">Work Experience</li>
                    <li class="my-2">Site visits</li>
                    <li class="my-2">Workshops (school based)</li>
                    <li class="my-2">Presentations</li>
                </ul>
            </div>

            <div class="col-md-3 well">
                <h6 class="font-weight-bold">Curriculum Areas</h6>
                <ul>
                    <li class="my-2">Science And Technology</li>
                    <li class="my-2">Health And Wellbeing</li>
                    <li class="my-2">Humanities</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row gel-content-container">
        <div class="mb-auto p-2 col-6">
            <label for="exampleFormControlSelect1" class="font-weight-bold">Schools Attending</label>
            <select multiple class="form-control" id="exampleFormControlSelect1">
                <option>Bryn Hafod Primary School</option>
                <option>Christ The King RC Primary School</option>
                <option>Gabafalfa Primary School</option>

            </select>
        </div>

        <div class="mb-auto p-2 col-6">
            <label for="exampleFormControlSelect2" class="font-weight-bold">Employers Attending</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Admiral</option>
                <option>Evolve Tech</option>
                <option>Rynolds & Rynolds</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <hr class="col-md-6 float-center my-2">
        <div class="col"></div>
    </div>

    <div class="col-md-12">
        <h3>Alumni</h3>
        <ul>
            <li>St James</li>
            <li>St James</li>
        </ul>
    </div>

    <div class="row">
        <div class="col"></div>
        <hr class="col-md-6 float-center my-2">
        <div class="col"></div>
    </div>

    <div class="col-md-12">
        <h3>Employer Info</h3>
        <div class="row">
            <div class="col-md-4">
                <h4 class="font-weight-bold">Address</h4>
                <h6>119 The Parade</h6>
                <h6>SA1 5RF</h6>
                <h6>Swansea</h6>
                <h6>UK</h6>
            </div>

            <div class="col-md-4">
                <h4 class="font-weight-bold">Contact</h4>
                <div>
                    <span>Name:</span>
                    <span>John Smith </span>
                </div>
                <div>
                    <span class="">Telephone Number:</span>
                    <span>000</span>
                </div>
                <div>
                    <span class="">Contact Number:</span>
                    <span>000</span>
                </div>
            </div>

            <div class="col-md-4">
                <h4 class="font-weight-bold">Social Media</h4>
                <div>
                    <span class="">Twitter:</span>
                </div>
                <div>
                    <span class="">Website:</span>
                </div>
                <div>
                    <span class="">Email:</span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <hr class="col-md-6 float-center my-2">
        <div class="col"></div>
    </div>

    <div class="col-md-12">
        <h3>School Preferences</h3>
        <ul>
            <li>St James</li>
            <li>St James</li>
        </ul>
    </div>

    <div class="row">
        <div class="col"></div>
        <hr class="col-md-6 float-center my-2">
        <div class="col"></div>
    </div>

    <div class="col-md-12">
        <h3>Employer Documents and videos</h3>
        <ul>
            <li>Document</li>
            <li>Document</li>
            <li>Video link</li>
        </ul>
    </div>

    <div class="text-center mt-2">
        <input class="button" type="submit" value="Request Employer">
    </div>
</div>


<footer th:replace="fragments/footerTemplate :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
<script type="text/javascript"
        src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<script>
    $(document).ready(function () {

    });

</script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
    s
</script>

</body>
</html>
