<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cf-my.sharepoint.com/personal/rachwalk_cardiff_ac_uk/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Frachwalk%5Fcardiff%5Fac%5Fuk%2FDocuments%2Febe%5Fstyle%2Ecss&parent=%2Fpersonal%2Frachwalk%5Fcardiff%5Fac%5Fuk%2FDocuments&ct=1599056603427&or=OWA-NT&cid=e6654cb1-da5f-ec81-437e-9c85c9f6e2b1&originalPath=aHR0cHM6Ly9jZi1teS5zaGFyZXBvaW50LmNvbS86dTovZy9wZXJzb25hbC9yYWNod2Fsa19jYXJkaWZmX2FjX3VrL0VRWVBBTUJwdzI5QXRLZmlkR0RWMnQ4QjMtR2QtWTd0a3F6a24ta1E4cGxGMVE_cnRpbWU9bEtQa3dVdFAyRWc">
<!--    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet"/>-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Home</title>
</head>
<body>

<header th:replace="fragments/headerTemplate :: header"></header>
<main class="js-main-content-area">
    <div class="gel-content-container pr-5">
        <div class="row">
            <div class="col-md-12">
                <div class="container-headline my-5">
                    <span class="title-h2">Quicklinks</span>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="ebe/add-employer" class="button button--icon d-inline mr-5 p-5 text-center w-100">Add new Employer</a>
                    <a href="ebe/add-vacancy" class="button button--icon d-inline mr-5 p-5 text-center w-100">Add new Vacancy</a>
                    <a href="ebe/add-events" class="button button--icon d-inline p-5 text-center w-100">Add new Event</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col"></div>
            <hr class="col-md-9 float-center my-2 thin">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-headline mb-5">
                    <span class="title-h2">Statistics</span>
                </div>
                <div class="container-fluid eventBackground">
                    <div class="row">
                        <div class="card-group mt-4 mb-4">
                            <div class="card">
                                <div class="card-body p-2">
                                    <h4 class="card-title gel-text-align-center text-success font-weight-bold"
                                        th:text="${numberOfEvents}"></h4>
                                    <span class="h5 gel-text-align-center mt-0 stats-numbers">Events hosted</span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body p-2">
                                    <h4 class="card-title gel-text-align-center text-info font-weight-bold"
                                        th:text="${numberOfEmployers}"></h4>
                                    <span class="h5 gel-text-align-center mt-0 stats-numbers">Employers</span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body p-2">
                                    <h4 class="card-title gel-text-align-center text-success font-weight-bold"
                                        th:text="${numberOfVacancies}"></h4>
                                    <span class="h5 gel-text-align-center mt-0 stats-numbers">Vacancies</span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body p-2">
                                    <h4 class="card-title gel-text-align-center text-info font-weight-bold"
                                        th:text="${requestsBySchools}"></h4>
                                    <span class="h5 gel-text-align-center mt-0 stats-numbers">Requests by schools</span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body p-2">
                                    <h4 class="card-title gel-text-align-center text-success font-weight-bold"
                                        th:text="${schoolAtEvents}"></h4>
                                    <span class="h5 gel-text-align-center mt-0 stats-numbers">Schools at events</span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body p-2">
                                    <h4 class="card-title gel-text-align-center text-info font-weight-bold"
                                        th:text="${numberOfPupils}"></h4>
                                    <span class="h5 gel-text-align-center mt-0 stats-numbers">Total pupils</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footerTemplate :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
<script th:src="@{../js/counter.js}" src="../js/counter.js"></script>
<script th:src="@{../js/burger-button.js}" src="../js/burger-button.js"></script>
</body>
</html>
