<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>

    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Events Profile</title>
</head>

<header th:replace="fragments/headerTemplate :: header">
</header>


<!-- Modal Update -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog gel-content-container" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <form>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container my-3 p-0">
                                <h4 class="modal-title float-left">Update Event Information</h4>
                                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event-name">Event name</label>
                                    <input type="text" class="form-control input-border" th:value="${event.getEventName()}" id="event-name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event-type">Event type</label><br>
                                    <select class="selectpicker" data-width="80%" data-live-search="true" id="event-type">
                                        <option  th:each="eventTypes : ${allEventTypes}"  th:selected="${eventTypes.getTypeOfEventID()} == ${event.getTypeOfEventID()}"  th:value="${eventTypes.getTypeOfEventID()}" th:text="${eventTypes.getTypeOfEventName()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="event-summary">Event Summary</label>
                                    <textarea class=" input-border" rows="3" id="event-summary" th:text="${event.getEventSummary()}" th:value="${event.getEventSummary()}"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <input type="text" id="event-street" class="form-control border-right input-sm" th:value="${event.getEventAddressStreet()}">
                                        <input type="text" id="event-number" class="form-control" th:value="${event.getEventAddressNumber()}">
                                    </div>
                                    <div class="input-group-prepend mt-1">
                                        <input type="text" id="event-postcode" class="form-control border-right" th:value="${event.getEventVenuePostcode()}">
                                        <input type="text" id="event-city" class="form-control" th:value="${event.getEventAddressCity()}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event-date">Event date</label>
                                    <input type="date" class="form-control input-border" id="event-date" th:value="${event.getEventDate()}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event-time">Event time</label>
                                    <input type="time" class="form-control input-border" id="event-time" th:value="${event.getEventTime()}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event-venue">Event venue</label>
                                    <input type="text" class="form-control input-border" id="event-venue" th:value="${event.getEventVenueName()}">
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="adviser-name">Adviser name</label>
                                    <input type="text" class="form-control input-border" id="adviser-name" th:value="${event.getNameOfAdviser()}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="no-attendees">No of Attendees</label>
                                    <input type="number" class="form-control input-border" id="no-attendees" th:value="${event.getNumberOfAttendees()}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employers-attending">Employers Attending</label><br>
                                    <select class="selectpicker" multiple data-live-search="true" data-width="80%" id="employers-attending" >
                                        <option  th:each="employer : ${AllEmployerNamesAndIds}" th:selected="${EventEmployersIDs.contains(employer.getEmployerID())}" th:value="${employer.getEmployerID()}" th:text="${employer.getEmployerName()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="schools-attending">Schools Attending</label><br>
                                    <select class="selectpicker" multiple data-live-search="true" data-width="80%" id="schools-attending">
                                        <option  th:each="school : ${allSchoolNamesAndIds}"   th:selected="${EventSchoolsIDs.contains(school.getSchoolID())}"th:value="${school.getSchoolID()}" th:text="${school.getSchoolName()}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Can the event be conducted in Welsh?</label>
                                    <select  id="conducted-welsh">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Does the event promote apprenticeship?</label>
                                    <select  id="promote-apprenticheship">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Does the event challenger gender stereotypes?</label>
                                    <select  id="challenger-gender">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Is the Event going to be Public?</label>
                                    <select  id="event-public">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Is the Event Cancelled?</label>
                                    <select  id="event-cancelled">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container my-4 text-center">
                        <button type="button" class="button--secondary buttonUpdateModal text-center" onclick="UpdateThisEvent()">Update Event</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog gel-content-container" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Event</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p  th:text="'Are you sure you want to delete '+ ${event.getEventName()} + ' event?'">
                </p>
                <button type="button" class="btn buttonUpdate" th:onclick="|deleteEvent(${event.getEventID()})|">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="gel-content-container">
    <div id="success_message" class="alert alert-success alert-dismissible fade d-none" role="alert">
        <strong>Success!</strong> The event has been updated!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container-headline mt-5">
        <span class="title-h2" th:text="${#strings.capitalize(event.getEventName())}"></span>
        <input type="hidden" th:value="${event.getEventID()}" id="event-id"/>
        <button type="button" id="deleteEvent" data-toggle="modal" data-target="#deleteModal" class="buttonDelete float-right">Delete</button>
        <button type="button" id="updateEvent" data-toggle="modal" data-target="#updateModal" class="buttonUpdate float-right">Update</button>
    </div>

    <div class="container-fluid py-5 px-5 eventBackground">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <span class="font-weight-bold h5">Event Summary </span>
                    <p th:text="${event.getEventSummary()}"></p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group ">
                    <span class="font-weight-bold h5">Event Type </span>
                    <p th:each="eventTypes : ${allEventTypes}"  th:remove="${eventTypes.getTypeOfEventID() == event.getTypeOfEventID()} ? none : all" th:value="${eventTypes.getTypeOfEventID()}" th:text="${eventTypes.getTypeOfEventName()}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <span class="font-weight-bold h5">Event Date </span>
                    <p th:text="${event.getEventDate()}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="font-weight-bold h5">Event Time </span>
                    <p th:text="${event.getEventTime()}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="font-weight-bold h5">Event Venue </span>
                    <p th:text="${event.getEventVenueName()}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="font-weight-bold h5">Adviser Name </span>
                    <p th:text="${event.getNameOfAdviser()}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="font-weight-bold h5">No of Attendees </span>
                    <p th:text="${event.getNumberOfAttendees()}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="font-weight-bold h5">Can the event be conducted in Welsh? </span>
                    <p th:remove="${event.getPromotesWelshLanguage()== true}  ? none : all">Yes</p>
                    <p th:remove="${event.getPromotesWelshLanguage()== false}  ? none : all">No</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="font-weight-bold h5">Does the event promote apprenticeship? </span>
                    <p th:remove="${event.getPromotesApprenticeships()== true}  ? none : all">Yes</p>
                    <p th:remove="${event.getPromotesApprenticeships()== false}  ? none : all">No</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="font-weight-bold h5">Does the event challenger gender stereotypes? </span>
                    <p th:remove="${event.getChallengesGenderStereotypes()== true}  ? none : all">Yes</p>
                    <p th:remove="${event.getChallengesGenderStereotypes()== false}  ? none : all">No</p>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="mb-auto p-2 col-md-6 well2 well3">
                <label class="font-weight-bold h5">Schools Attending</label>
                <ul class="list-group">
                    <a th:each="school : ${allSchoolNamesAndIds}">
                        <li class="list-group-item" th:remove="${EventSchoolsIDs.contains(school.getSchoolID())} ? none : all" th:text="${school.getSchoolName()}"></li>
                    </a>
                </ul>
            </div>
            <div class="mb-auto p-2 col-md-6 well2 well3">
                <label class="font-weight-bold h5">Employers Attending</label>
                <ul class="list-group">
                    <a th:each="employer : ${AllEmployerNamesAndIds}" th:href="@{/profile-employer(employerId=${employer.getEmployerID()})}">
                        <li class="list-group-item"  th:remove="${EventEmployersIDs.contains(employer.getEmployerID())} ? none : all" th:text="${employer.getEmployerName()}"></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footerTemplate :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    $('.selectpicker').selectpicker();
</script>
<script th:src="@{../js/events.js}" src="../js/events.js"></script>
<script>
    eventUpdated = localStorage.getItem("eventUpdated");

    if (eventUpdated === "true"){
        console.log("is the object added " + eventUpdated)
        document.getElementById('success_message').classList.remove('d-none')
        document.getElementById('success_message').classList.add('show')
        $("#success_message").fadeTo(2000, 500).slideUp(500, function() {
            $("#success_message").slideUp(500);
        });
        localStorage.clear()
    }

</script>
</body>
</html>
