<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css"
          href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css"
          href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css"
          href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all"
          href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all"
          href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Events Profile</title>
</head>
<body>


<header th:replace="fragments/headerTemplate :: header">
</header>

<div class="modal fade bd-example-modal-lg" id="viewRequests" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog gel-content-container" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container my-3 p-0">
                            <h4 class="modal-title float-left">Requests by schools</h4>
                            <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row well">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 p-0 list-employers">
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                            <div class="gel-content-row">
                                <article class="card js-card card--style-icon card--100" gel-processed="processed">
                                    <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                        <div class="card__content">
                                            <div class="content__image">
                                                <div>
                                                    <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                                </div>
                                            </div>
                                            <div class="content__body">
                                                <div class="body__title">Card heading and link title</div>
                                                <div class="body__body">
                                                    Local Area of School.
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container my-4 text-center">
        <button type="button" class="button--secondary text-center">Update Employer</button>
    </div>
</div>


<div class="gel-content-container">
    <div class="container-headline mt-5">
        <span class="title-h2">Stats</span>
    </div>

    <div class="container-fluid eventBackground">
        <div class="row p-2">
            <div class="col-md p-2 well">
                <h5 class="font-weight-bold mt-1">Events Info</h5>
                <div class="row d-block ml-2">
                    <span class="h4 mt-1 counter text-success d-flex justify-content-center mb-0"
                          data-target="60000">0</span>
                    <span class="h3 my-0 d-flex justify-content-center mb-0">Events</span>
                    <div class="row d-inline">
                        <div class="col-md-6">
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">450</span>
                                <span class="d-inline ml-2">Webinars</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">600</span>
                                <span class="d-inline ml-2">Industry Days</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1  text-info d-inline">345</span>
                                <span class="d-inline ml-2">Workshop</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1  text-info d-inline">300</span>
                                <span class="d-inline ml-2">Webinars</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">240</span>
                                <span class="d-inline ml-2">Webinars</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">200</span>
                                <span class="d-inline-block ml-2">in Cardiff</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">58</span>
                                <span class="d-inline ml-2">in Caerphilly</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">146</span>
                                <span class="d-inline ml-2">in Swansea</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md p-2 well">
                <h5 class="font-weight-bold mt-1">Employers Info</h5>
                <div class="row d-block ml-2">
                    <span class="h4 mt-1 counter text-success d-flex justify-content-center mb-0"
                          data-target="60000">0</span>
                    <span class="h3 mt-0 d-flex justify-content-center mb-0">Employers</span>
                    <div class="row d-inline">
                        <div class="col-md">
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">146</span>
                                <span class="mt-1 d-inline">Science and Technology</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">240</span>
                                <span class="mt-1 d-inline">Humanities</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">456</span>
                                <span class="mt-1 d-inline">Health And Wellbeing</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">146</span>
                                <span class="mt-1 d-inline">Science and Technology</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">240</span>
                                <span class="mt-1 d-inline">Humanities</span>
                            </div>
                            <div class="d-block  mb-2">
                                <span class="h4 mt-1 text-info d-inline">456</span>
                                <span class="mt-1 d-inline">Health And Wellbeing</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row well d-block">
            <span class="h4 mt-1 counter text-success d-flex justify-content-center" data-target="60000">0</span>
            <span class="h3 d-flex mt-0 justify-content-center">Requests by schools</span>
            <div class="container my-4 text-center">
                <button type="button" class="button--secondary text-center" data-toggle="modal"
                        data-target="#viewRequests">View schools</button>
            </div>
        </div>
        <div class="row p-2 well d-block">
            <div class="col-md d-block">
                <span class="h4 mt-1 counter text-success d-flex justify-content-center" data-target="60000">0</span>
                <span class="h3 mt-0 d-flex justify-content-center">Employer Offerings</span>
            </div>
        </div>

    </div>
</div>

    <footer th:replace="fragments/footerTemplate :: footer"></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
    <script type="text/javascript"
            src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
    <script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script>
        const counters = document.querySelectorAll('.counter');
        const speed = 150; // The lower the slower

        counters.forEach(counter => {
            const updateCount = () => {
                const target = +counter.getAttribute('data-target');
                const count = +counter.innerText;

                // Lower inc to slow and higher to slow
                const inc = target / speed;

                // console.log(inc);
                // console.log(count);

                // Check if target is reached
                if (count < target) {
                    // Add inc to count and output in counter
                    counter.innerText = count + inc;
                    // Call function every ms
                    setTimeout(updateCount, 1);
                } else {
                    counter.innerText = target;
                }
            };

            updateCount();
        });
    </script>
</body>
</html>