<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Careers Wales</title>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
<!--<header th:replace="baseTemplate.html :: header"></header>-->


<!--<footer th:replace="baseTemplate.html :: footer"></footer>-->


<div class="wg-header">
    <div class="wg-header__content">
        <a href="beta.gov.wales" target="_blank" class="content__wg-link" gel-processed="processed" title="Link to Welsh Government logo">
            <img src="https://careerswales.gov.wales/styleguide/assets/img/logos/wg-logo-light.svg" alt="Welsh Government logo">
        </a>
        <form class="content__search-form">
            <div class="form__group js-form-group form__text">
                <label class="group__label" for="text-search-input">Search this site</label>
                <div class="group__element group__element--has-prefix-suffix">
                    <input type="text" id="text-search-input" name="text-name-prefix-suffix" placeholder="Search Careers Wales">
                    <div class="group__suffix"><button class="button--icon icon--search icon--text-hidden" aria-label="Search"></button></div>
                </div>
            </div>
        </form>
        <a href="#" class="button button--style-dark button--small content__lang-link" gel-processed="processed" title="Link to Cymraeg">
            Cymraeg
        </a>
    </div>
</div>

<div class="branded-masthead js-branded-masthead">
    <div class="branded-masthead__content">
        <div class="content__logos">
            <a href="#" class="ignore-link" title="Careers Wales home">
                <img class="content--logo logo--mob-en" src="https://careerswales.gov.wales/styleguide/assets/img/logos/cw-logo-mob-en.svg" role="presentation" alt="">
                <img class="content--logo logo--mob-cy" src="https://careerswales.gov.wales/styleguide/assets/img/logos/cw-logo-mob-cy.svg" role="presentation" alt="">
                <img class="content--logo" src="https://careerswales.gov.wales/styleguide/assets/img/logos/cw-logo.svg" role="presentation" alt="">
                <span class="visually-hidden">Careers Wales home</span>
            </a>
        </div>
        <div class="content__helper-menu js-helper-nav" gel-processed="processed">
            <ul>
                <li>
                    <a href="https://careerswales.gov.wales/contact-us" >Contact Us</a>
                </li>
                <li>
                    <a href="https://careerswales.gov.wales/events" >Events</a>
                </li>
                <li>
                    <a href="https://careerswales.gov.wales/news" >News</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<nav aria-label="primary navigation" class="primary js-primary-nav" style="">
    <div class="nav__toggle">
        <button class="toggle__button js-toggle-nav" gel-processed="processed">
            <span></span><span></span><span></span>Menu
        </button>
    </div>
    <div class="nav__content">
        <ul>
            <li>
                <a href="https://careerswales.gov.wales/" >Home</a>
            </li>
            <li>
                <a href="https://careerswales.gov.wales/plan-your-career" >Plan your Career</a>
            </li>
            <li>
                <a href="https://careerswales.gov.wales/courses-and-training" >Courses and Training</a>
            </li>
            <li>
                <a href="https://careerswales.gov.wales/getting-a-job" >Getting a Job</a>
            </li>
            <li>
                <a href="https://careerswales.gov.wales/apprenticeships" >Apprenticeships</a>
            </li>
        </ul>
    </div>
</nav>

<!--MAIN CONTENT-->
<div class="gel-content-container">
    <h1>Request</h1>

    <p>Request an event of your choice with employers you want to attend.</p>
    <div>
        <form>
            <label for="event_name">Event Name:</label><br>
            <input type="text" id="event_name" name="event_name"><br><br>
            <label for="event_type">Event Type:</label><br>
            <select id="event_type" name="event_type">
                <option value="type1">type1</option>
                <option value="type2">type2</option>
                <option value="type3">type3</option>
            </select><br><br>
            <label for="event_date">Event Date:</label><br>
            <input type="date" id="event_date" name="event_date"><br><br>
            <label for="event_time">Event Time:</label><br>
            <input type="time" id="event_time" name="event_time"><br><br>
            <label for="event_guests">Guest(s) ???:</label><br>
            <select id="event_guests" name="event_guests">
                <option value="guest1">guest1</option>
                <option value="guest2">guest2</option>
                <option value="guest3">guest3</option>
            </select><br><br>
            <input class="button" type="submit" value="Request Event">
            <p>or this one</p>
            <input class="button--secondary" type="submit" value="Request Event">
        </form>
    </div>
</div>
<!--END OF MAIN CONTENT-->

<footer>
    <div class="footer__content">
        <div class="content__social">
            <div class="social__content">
                <div class="content__column column--50">
                    <p>For further support or careers advice call <a href="tel:0800 028 4844">0800 028 4844</a></p>
                    <a href="#" class="social social--contact-email"  title="Link to post@careerswales.com">post@careerswales.com</a>
                    <a href="#" class="social social--contact-webchat"  title="Link to Webchat">Webchat</a>
                    <a class="content__give-feedback" href="mailto:"  title="Email link to ">Give feedback about this page<span class="external">(opens email client)</span></a>
                </div>
                <div class="content__column column--50">
                    <p>Join us on social media</p>
                    <a href="//" class="social social--twitter" >Twitter</a>
                    <a href="https://www.facebook.com/careerswales" class="social social--facebook-simple" >Facebook</a>
                    <a href="https://www.linkedin.com/company/careers-wales" class="social social--linkedin-simple">LinkedIn</a>
                    <a href="https://www.youtube.com/c/careerswales" class="social social--youtube" >YouTube</a>
                    <a href="https://www.instagram.com/careers_wales/?hl=en" class="social social--instagram">Instagram</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__content">
        <div class="content__sharebar">
            <div class="sharebar__content">
                <div class="content__wrapper">
                    <div class="button button--icon icon--left icon--share content__share-this-page js-share-this-page">
                                        <span>
                                            Share this page
                                        </span>
                        <div class="content__share-options">
                            <a href="http://www.twitter.com/careerswales" class="social social--twitter" title="Link to Twitter">Twitter</a>
                            <a href="https://www.facebook.com/careerswales" class="social social--facebook-simple" title="Link to Facebook">Facebook</a>
                            <a href="mailto:post@careerswales.gov.wales" class="social social--email" title="Link to Email">Email</a>
                        </div>
                    </div>
                    <a href="#main-content" class="ignore-link button button--icon icon--left icon--scroll-up content__back-to-top js-back-to-top">Back to top</a>
                </div>
            </div>
        </div>
        <div class="content__links">
            <div class="links__content">
                <ul class="content__primary">
                    <li>
                        <a href="https://careerswales.gov.wales/about-us" >About us</a>
                    </li>
                    <li>
                        <a href="https://careerswales.gov.wales/about-us/work-for-us" >Work for us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="base:about-us/cookies" >Cookies</a>
                    </li>
                    <li>
                        <a href="https://careerswales.gov.wales/about-us/privacy-notice" >Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://careerswales.gov.wales/about-us/terms-and-conditions" >Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="https://careerswales.gov.wales/about-us/accessibility-statement" >Accessibility Statement</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="content__base">
            <div class="base__content">
                <a class="footer__logo" href="#" title="Link to Welsh Government" >
                    <img src="https://careerswales.gov.wales/styleguide/assets/img/logos/WG-logo.svg" alt="Welsh Government">
                </a>
                <a class="footer__logo" href="#" title="Link to Working Wales" >
                    <img src="https://careerswales.gov.wales/styleguide/assets/img/logos/ww-en.svg" alt="Working Wales">
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide//assets/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide//assets/js/gel-elements.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide//assets/js/gel-elements-loader.js"></script>
</body>
</html>