<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Employers</title>

</head>
<body>
<header th:replace="fragments/headerTemplate :: header">
</header>

<div class="gel-content-container">
    <div class="container-headline my-5">
        <span class="title-h2">Employers</span>
        <a href="/add-employer">
            <button type="button"   id="addEmployer" class="button--secondary float-right">Add Employer</button>
        </a>
    </div>

    <div id="success_message" class="alert alert-success alert-dismissible fade d-none" role="alert">
        <strong>Success!</strong> The employer was created!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="flex-container">
        <div class="col-lg-3">
            <div class="mb-3">
                <h6>INDUSTRY SECTOR</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind1">
                    <label class="form-check-label" for="ind1">
                        Agriculture, Forest, And Fishing
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind2">
                    <label class="form-check-label" for="ind2">
                        Mining
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind3">
                    <label class="form-check-label" for="ind3">
                        Construction
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind4">
                    <label class="form-check-label" for="ind4">
                        Transport,Communications, Electric, Gas, And Sanitary Services
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind5">
                    <label class="form-check-label" for="ind5">
                        Wholesale Trade
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind6">
                    <label class="form-check-label" for="ind6">
                        Retail Trade
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <h6>ALUMNI SCHOOL</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="schoolId1">
                    <label class="form-check-label" for="schoolId1">
                        St' James
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="schoolId2">
                    <label class="form-check-label" for="schoolId2">
                        St'John
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="schoolId3">
                    <label class="form-check-label" for="schoolId3">
                        Fitzalan School
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <h6>NO OF EMPLOYEES</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="employeeno1">
                    <label class="form-check-label" for="ind4">
                        1-9
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="employeeno2">
                    <label class="form-check-label" for="ind5">
                        10-49
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="employeeno3">
                    <label class="form-check-label" for="ind6">
                        50-199
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="employeeno4">
                    <label class="form-check-label" for="ind6">
                        200-500
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="employeeno5">
                    <label class="form-check-label" for="ind6">
                        +500
                    </label>
                </div>
            </div>

                <div class="mb-3">
                    <label for="localAuth">Local Authorities</label>
                    <select class="selectpicker" multiple data-live-search="true" id="localAuth">
                        <option value="0">Cardiff</option>
                        <option value="1">Swansea</option>
                        <option value="2">Newport</option>
                        <option value="3">Bridgend</option>
                    </select>
                </div>

                <div class="mb-3">
                    <h6>Offers</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Work Experience
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Site visits
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">
                            Workshops school based
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck4">
                            Presentations
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label" for="defaultCheck5">
                            Industry days/ Career Fairs
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                        <label class="form-check-label" for="defaultCheck6">
                            Webinars/ digital presentations
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <h6>Other</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultChe1">
                        <label class="form-check-label" for="defaultChe1">
                            Work with primary schools
                        </label>
                    </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultChe2">
                    <label class="form-check-label" for="defaultChe2">
                        Foreign language
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultChe3">
                    <label class="form-check-label" for="defaultChe3">
                        Works in Welsh
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultChe4">
                    <label class="form-check-label" for="defaultChe4">
                        Deliver in Welsh
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultChe5">
                    <label class="form-check-label" for="defaultChe5">
                        Have apprenticeship programme
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <h6>Curriculum Areas</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="curArea1">
                    <label class="form-check-label" for="curArea1">
                        Mathematics & Numeracy
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="curArea2">
                    <label class="form-check-label" for="curArea2">
                        Languages Literacy & Communication
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="curArea3">
                    <label class="form-check-label" for="curArea3">
                        Health & Well-being
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="curArea4">
                    <label class="form-check-label" for="curArea4">
                        Humanities
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="curArea5">
                    <label class="form-check-label" for="curArea5">
                        Expressive Arts
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="curArea6">
                    <label class="form-check-label" for="curArea6">
                        Science and Technology
                    </label>
                </div>
            </div>

                <div class="form-group">
                    <label for="workWithSchool">School Working with</label>
                    <select class="selectpicker" multiple data-live-search="true" id="workWithSchool">
                        <option value="school">School</option>
                        <option value="school">School</option>
                        <option value="school">School</option>
                    </select>
                </div>
            </div>


        <div class="col-lg-9" style="border-left: grey 1px solid">
            <div class="gel-content-container">

                <div class="row">
                    <!-- Search -->
                    <div class="input-group col-8">
                        <input type="text" class="form-control input-border" placeholder="Search">
                        <div class="input-group-append">
                                <span class="input-group-text input-border">
                                    <i class="fa fa-search"></i>
                                </span>
                        </div>
                    </div>


                    <!-- Sorted by-->
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-border">Sort By:</span>
                            </div>
                            <select class="form-control input-border">
                                <option selected="selected">Date</option>
                                <option>Name</option>
                            </select>
                        </div>
                    </div>
                </div>

                <br>

                <!-- Cards -->

                <div  class="list-employers">
                    <div class="gel-content-row" th:each="employer : ${allEmployers}"  >
                        <article class="card js-card card--style-icon card--100" gel-processed="processed" th:id="${employer.getEmployerID()}">
                            <a th:href="@{/profile-employer(employerId=${employer.getEmployerID()})}" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title" th:text="${employer.getEmployerName()}"></div>
                                        <div class="body__body" th:text="${employer.getCompanySummary()}"></div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footerTemplate :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>
    $('select').selectpicker();
</script>
<script th:src="@{../js/employer.js}" src="../js/employer.js"></script>
<script>
    empAdded = localStorage.getItem("empAdded");

    if (empAdded === "true"){
        console.log("is the object added " + empAdded)
        document.getElementById('success_message').classList.remove('d-none')
        document.getElementById('success_message').classList.add('show')
        localStorage.clear()
    }
</script>
</body>
</html>

