<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css" />
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Employer Search</title>
</head>

<style>

    .input-border{
        border-radius: 0;
    }

    body{
        overflow-y: scroll !important;
        overflow-x: hidden;
    }
    .card{
        border: none !important;
    }

    .flex-container{
        display: flex;
        align-items: stretch;
    }

    .card--style-icon .card__inner .card__content .content__body .body__title{
        color: black !important;
    }
    a {
        text-decoration: none !important;
    }

    .list-employers{
        overflow-y:scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        max-height: 125vh;
    }

    .gel-content-container{
        max-width: 1050px;
    }

    .title-h2{
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 2rem;
    }

    .typoWhite{
        color: white !important;
    }

    .container-headline{
        max-width: 987px;
        padding-right: 15px;
        padding-left: 15px;
    }

</style>

<body>
<header th:replace="fragments/headerTemplate :: header">
</header>

    <div class="gel-content-container">
        <div class="container-headline my-4">
            <span class="title-h2">Vacancies</span>
            <button type="button"  id="addVacancy" class="button--secondary float-right">Add Vacancy</button>
        </div>

        <div class="flex-container">
            <div class="col-lg-3">
                <div class="mb-3">
                    <h6>TYPE</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ind1">
                        <label class="form-check-label" for="ind1">
                            Full-time
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ind2">
                        <label class="form-check-label" for="ind2">
                            Part-time
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ind3">
                        <label class="form-check-label" for="ind3">
                            Apprenticeship
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ind4">
                        <label class="form-check-label" for="ind4">
                            Traineeship
                        </label>
                    </div>

                </div>

                <div class="mb-3">
                    <h6>OCCUPATION</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="schoolId1">
                        <label class="form-check-label" for="schoolId1">
                            SOC
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="schoolId2">
                        <label class="form-check-label" for="schoolId2">
                            CRCI
                        </label>
                    </div>
                </div>
            </div>


            <div class="col-lg-9" style="border-left: grey 1px solid">
                <div class="gel-content-container">

                    <div class="row">
                        <!-- Search -->
                        <div class="input-group col-8">
                            <input type="text" class="form-control input-border" placeholder="Search">
                            <div class="input-group-append">
                                <span class="input-group-text input-border">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>


                        <!-- Sorted by-->
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-border">Sort By:</span>
                                </div>
                                <select class="form-control input-border">
                                    <option selected="selected">Date</option>
                                    <option>Name</option>
                                </select>
                            </div>
                        </div>
                    </div>

                <br>

                <!-- Cards -->

                <div class="list-employers">
                    <div class="gel-content-row ">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="/vacancies/id" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100 card--has-next card-next-type--icon" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="card js-card card--style-icon card--100 card--has-previous card-previous-type--icon" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <div class="gel-content-row">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a href="#" class="card__inner" gel-processed="processed" title="Link to Card heading and link title">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title">Card heading and link title</div>
                                        <div class="body__body">
                                            Lorem ipsum dolor sit amet, consecetur adipisicing elit sed do.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<footer th:replace="fragments/footerTemplate :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $("#addVacancy").hover(function(){
            $(this).addClass("typoWhite")
        },
            function(){$(this).removeClass("typoWhite")})
    });

</script>

</body>
</html>

