<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>

    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Events</title>
</head>

<body>
<header th:replace="fragments/headerTemplate :: header">
</header>

<div class="gel-content-container">
    <div id="success_message" class="alert alert-success alert-dismissible fade d-none" role="alert">
        <strong>Success!</strong> The event has been created!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container-headline my-5">
        <span class="title-h2">Events</span>
        <a href="/add-events">
            <button type="button"  id="addEvent" class="button--secondary float-right" >Add Event</button>
        </a>
    </div>

    <div class="flex-container">
        <div class="col-lg-3">
            <div class="mb-3">
                <h6>TYPE OF EVENT</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind1">
                    <label class="form-check-label" for="ind1">
                        Activate
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind2">
                    <label class="form-check-label" for="ind2">
                        World of Work
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind3">
                    <label class="form-check-label" for="ind3">
                        High Impact Event
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind5">
                    <label class="form-check-label" for="ind5">
                        Webinar/Virtual Event
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ind6">
                    <label class="form-check-label" for="ind6">
                        Digital Presentation
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <h6>DATE</h6>
                <div>
                    <input class="form-control" type="date" value="" id="date">
                </div>
            </div>


            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultChe1">
                    <label class="form-check-label" for="defaultChe1">
                        Promotes apprenticeship
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultChe2">
                    <label class="form-check-label" for="defaultChe2">
                        Works in Welsh
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultChe3">
                    <label class="form-check-label" for="defaultChe3">
                        Challenges gender stereotypes
                    </label>
                </div>
            </div>

        </div>


        <div class="col-lg-9" style="border-left: grey 1px solid">
            <div class="gel-content-container">

                <div class="row">
                    <!-- Search -->
                    <div class="input-group col-8">
                        <input type="text" class="form-control input-border" onkeydown="searchEvents()" id="event-search"  placeholder="Search">
                        <div class="input-group-append">
                            <button class="input-group-text input-border" onclick="searchEvents()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>


                    <!-- Sorted by-->
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-border">Sort By:</span>
                            </div>
                            <select class="form-control input-border selectpicker" name="event-sort-by">
                                <option selected="selected" value="Featured">Featured</option>
                                <option value="NameUp">Name Asc</option>
                                <option value="NameDown">Name Desc</option>
                                <option value="DateUp">Date Asc</option>
                                <option value="DateDown">Date Desc</option>
                            </select>
                        </div>
                    </div>

                </div>

                <br>

                <!-- Cards -->
                <div class="list-events">
                    <div class="gel-content-row event-card"  th:each="event : ${allEvents}" th:id="${event.getEventID()}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getEventVenueName())}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getEventAddressCity())}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getEventAddressStreet())}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getEventAddressNumber())}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getEventVenuePostcode())}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getNameOfAdviser())}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getEventVenuePostcode())}">
                        <input type="hidden" class="searchable" th:value="${#strings.capitalize(event.getEventVenuePostcode())}">

                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a th:href="@{/profile-event(eventId=${event.getEventID()})}" class="card__inner" gel-processed="processed">
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" src="https://source.unsplash.com/90x90/?business">
                                        </div>
                                    </div>
                                    <div class="content__body">
                                        <div class="body__title searchable" name="event-card-title" th:text="${#strings.capitalize(event.getEventName())}"></div>
                                        <div class="body__body searchable">
                                            <h5 class="searchable" name="event-card-date" th:text="${event.getEventDateAndTime()}"></h5>
                                            <h5 class="searchable" name="event-card-summary" th:text="${event.getEventSummary()} "></h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

<footer th:replace="fragments/footerTemplate :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>
<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script th:src="@{../js/events.js}" src="../js/events.js"></script>
<script>
    eventAdded = localStorage.getItem("eventAdded");

    if (eventAdded === "true"){
        console.log("is the object added " + eventAdded)
        document.getElementById('success_message').classList.remove('d-none')
        document.getElementById('success_message').classList.add('show')
        $("#success_message").fadeTo(2000, 500).slideUp(500, function() {
            $("#success_message").slideUp(500);
        });
        localStorage.clear()
    }

    eventDeleted = localStorage.getItem("eventDeleted");

    if (eventDeleted === "true"){
        console.log("is the object deleted " + eventDeleted)
        document.getElementById('success_message').innerHTML = 'The event is deleted!';
        document.getElementById('success_message').classList.remove('d-none')
        document.getElementById('success_message').classList.add('show')
        $("#success_message").fadeTo(2000, 500).slideUp(500, function() {
            $("#success_message").slideUp(500);
        });
        localStorage.clear()
    }

</script>

</body>
</html>

