<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/eot.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff.css">
    <link rel="stylesheet" type="text/css" href="https://use.fortawesome.com/kits/747c3a74/publications/latest/woff2.css">
    <link rel="stylesheet" type="text/css" href="https://careerswales.gov.wales/styleguide/assets/css/gel-styleguide.css">
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/styleguide/assets/css/gel-elements.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_Ix2IjZRJPxhlyX0UzoOcvWoONN1wNDbQY7jrFiB85O0.css"/>
    <link rel="stylesheet" media="all" href="https://careerswales.gov.wales/sites/default/files/css/css_yFFWPpQsZCFeHMtvOieuCWLiTEiz--tT0otLunNJdLs.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>

    <link th:href="@{../css/ebe_style.css}" href="../css/ebe_style.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Vacancies</title>
</head>

<body>
<header th:replace="fragments/headerTemplate :: header">
</header>

<main class="js-main-content-area">

    <div class="gel-content-container">

    <div id="success_message" class="alert alert-success alert-dismissible fade d-none" role="alert">
        <strong>Success!</strong><span id="success_message_text"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container-headline my-5">
        <span class="title-h2">Vacancies</span>
        <a href="/add-vacancy">
            <button type="button"  th:if="${session.SESSION_Role =='CWS'}" id="addVacancy" class="button--secondary float-right">Add Vacancy</button>
        </a>
    </div>

    <!--    FILTERS -->

        <div class="flex-container">
            <div class="col-lg-3 col-md-3">
                <div class="mb-3">
                    <label for="vacancy-type" class="  mb-1">Type of Vacancy</label>
                    <select class="selectpicker" data-width="100%" multiple data-live-search="true"  id="vacancy-type">
                        <option th:each="vacancyType : ${allVacanciesTypes}" th:value="${vacancyType.getTypeOfVacancyID()}" th:text="${vacancyType.getTypeOfVacancyName()}"></option>
                    </select>
                </div>

            <div class="mb-3">
                <label for="occup-code" class="  mb-1">Occupational Area</label>
                <select class="selectpicker" data-width="100%" multiple data-live-search="true" id="occup-code">
                    <option th:each="vacancyOccupationalCode : ${allVacanciesOccupationalCodes}" th:value="${vacancyOccupationalCode.getOccupationalCodeID()}" th:text="${vacancyOccupationalCode.getOccupationalCodeName()}"></option>
                </select>
            </div>
            <a href="#">
                <button type="button" id="filterButton" class="button--secondary w-100 text-center">Filter</button>
            </a>
        </div>


        <div class="col-lg-9" style="border-left: grey 1px solid">
            <div class="gel-content-container">

                <div class="row">
                    <!-- Search -->
                    <div class="input-group col-7">
                        <input type="text" class="search-box" onkeyup="searchVacancy()" id="vacancy-search"  placeholder=" Search">
                        <div class="input-group-append">
                            <button class="input-group-text form-control" onclick="searchVacancy()">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="tooltip-button input-group-text" id="tooltip" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="<span class='float-left'>Search By:</span><br><span class='float-left'>-Vacancy Name</span><br> <span class='float-left'>-Vacancy PostCode</span><br><span class='float-left'>-Employer Name</span><br><span>-Application Deadline</span>">
                                <i class="fa fa-info-circle"></i>
                            </button>

                            </div>
                        </div>


                        <!-- Sorted by-->
                        <div class="col-5 medium-dev">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-border">Sort By:</span>
                                </div>
                                <select class="form-control input-border selectpicker" name="vacancy-sort-by">
                                    <option selected="selected" value="Featured">Featured</option>
                                    <option value="Name" data-val="DESC">Name (ASC)</option>
                                    <option value="Name" data-val="ASC">Name (DESC)</option>
                                    <option value="Date" data-val="DESC">Date (ASC)</option>
                                    <option value="Date" data-val="ASC">Date (DESC)</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>

                <!-- Cards -->

                <div class="list-vacancies">
                    <div class="gel-content-row vacancy-card vacancy-found vacancy-filtered" th:each="vacancy : ${allVacancies}" th:id="${vacancy.getVacancyID()}">
                        <article class="card js-card card--style-icon card--100" gel-processed="processed">
                            <a th:href="@{/ebe/profile-vacancy(vacancyId=${vacancy.getVacancyID()})}" class="card__inner" gel-processed="processed" >
                                <div class="card__content">
                                    <div class="content__image">
                                        <div>
                                            <img alt="Card image" th:src="@{${vacancy.getLogoLink()}}">
                                        </div>
                                    </div>
                                    <div class="content__body ">
                                        <div class="body__title searchable" name="vacancy-card-title" th:text="${vacancy.getVacancyName()}"></div>
                                        <div class="body__body">
                                            <h5 th:each=" employer : ${AllEmployerNamesAndIds}" class="searchable" th:remove="${employer.getEmployerID() == vacancy.getEmployerID()} ? none : all" th:text="${#strings.capitalize(employer.getEmployerName())}"></h5>
                                            <h5 th:text="${#dates.format(vacancy.getDeadlineForApplication(),'dd-MM-yyyy')}" name="vacancy-card-date"  class="searchable"></h5>
                                            <h5 th:text="${#strings.capitalize(vacancy.getVacancySummary())}" name="vacancy-card-date"  class="searchable"></h5>
                                            <!-- Hidden Data -->
                                            <h5  class="searchable d-none" th:text="${#strings.capitalize(vacancy.getVacancyPostcode())}"></h5>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footerTemplate :: footer"></footer>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!--<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-styleguide.js"></script>-->
<!--<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements-loader.js"></script>-->
<!--<script type="text/javascript" src="https://careerswales.gov.wales/styleguide/assets/js/gel-elements.js"></script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script th:src="@{../js/vacancy.js}" src="../js/vacancy.js"></script>

<script>
    $('.selectpicker').selectpicker();
</script>
<script th:src="@{../js/burger-button.js}" src="../js/burger-button.js"></script>

</body>
</html>

